<div class="wrapper">
    <div class="main-content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-5 mx-auto mt-5 text-center">
                  <i class="material-icons md-148">warning</i>
                  <h2>404 Page not found</h2>
                  <p class="lead">It seems the resource can not be found or has been deleted</p>
                  <button mat-raised-button type="button" class="btn btn-danger" [routerLink]="['/' + appRoutes.private.dashboard.path]"  >Back to dashboard</button>
                </div>
            </div>
        </div>
      </div>
</div>